<div class="holiday-recipes">
  <h2>
    {{ content['#title']['#markup'] }}
  </h2>
  {% for row in content['#view'].result %}
    {% set article = row._entity %}
    {% set title = article.title.value %}
    {% set body = article.body.value %}
    {% set created_timestamp = article.created.value %}
    {% set created_date = created_timestamp | date('F j, Y') %}
    {% set image_url = file_url(article.field_image.entity.uri.value) %}

    {# getting a comment count #}
    {% set comment_count = article.comment %}
    {% set comment_count_value = comment_count|length %}

    {# getting a author #}
    {% set author_entity = article.getOwner() %}
    {% set author_name = author_entity.name.value %}

    {# getting a category and taxonomy term alias url #}
    {% set category_term = article.field_category.entity %}
    {% set category_name = category_term.name.value %}
    {% set category_url_alias = path('entity.taxonomy_term.canonical', {'taxonomy_term': category_term.tid.value}) %}

    {% include '@molecules/block-full-article-info.twig' with {
      block_full_text_title: title,
      block_full_category: category_name,
      block_full_block_full_image_src: image_url,
      block_full_category_url: category_url_alias,
      block_full_author: author_name,
      block_full_text_data: created_date,
      block_full_body: body|striptags|slice(0, 140),
      block_full_comment_count: comment_count_value,
    } %}
  {% endfor %}
</div>
