<div>
  <h2>
    {{ content['#title']['#markup'] }}
  </h2>
<div class="editor-picks">
{% for row in content['#view'].result %}
  {% set article = row._entity %}
  {% set image_uri = article.field_image.entity.uri.value %}
  {% set image_url = file_url(image_uri) %}
  {% set title = article.title.value %}
  {% set created_timestamp = article.created.value %}
  {% set created_date = created_timestamp | date('F j, Y') %}

  {% include '@molecules/block-with-media-t-d/block-with-media-t-d.twig' with {
    block_text_title: title,
    block_text_data: created_date,
    block_image_src: image_url
  } %}
{% endfor %}
</div>
</div>
