<div class="recent-comments">
  <span>
    {% trans %}
      Recent Comments
    {% endtrans %}
  </span>
</div>

<div class="recent-comments-body">
  <a>{{ author }} {{ 'on'|t }}</a> {{ content }}
</div>

