<div class="holiday-title">
  <span>
    Holiday Recipes
  </span>
</div>
<div class="holiday-recipes">
  {% for row in rows %}
    {% set last_row = rows[0]['#rows']|last %}
    {% set field_article = last_row['#view'].field %}
    {% set title = field_article.title.getvalue(view.result[0]) %}
    {% set created_timestamp = field_article.created.getvalue(view.result[0]) %}
    {% set created_date = created_timestamp | date('F j, Y') %}
    {% set article_entity = view.result[0]._entity %}
    {% set image_url = file_url(article_entity.field_image.entity.uri.value) %}
    {% set body = article_entity.body.value %}

    {% set comment_count = 0 %}

    {% set article_entity = last_row['#row']._entity %}
    {% set author_entity = article_entity.getOwner() %}
    {% set author_name = author_entity is not null ? author_entity.name.value : 'Unknown' %}

    {% set category_entity = article_entity.field_category.entity %}
    {% set category_name = category_entity is not null ? category_entity.name.value : 'Uncategorized' %}

  {% include '@molecules/block-full-article-info.twig' with {
        block_full_text_title: title,
        block_full_category: category_name,
        block_full_block_full_image_src: image_url,
        block_full_category_url: category_url_alias,
        block_full_author: author_name,
        block_full_text_data: created_date,
        block_full_body: body|striptags|slice(0, 140),
        block_full_comment_count: comment_count,
      } %}
  {% endfor %}

</div>
