<div class="must-read-title">
  <span>
    {{ 'Must Read'|t }}
  </span>
</div>
<div class="must-read">
  {% for row in rows %}
    {% for article in row['#rows'] %}
      {% set field_article = article['#row']._entity.fields %}
      {% set title = field_article.title.value %}
      {% set created_timestamp = field_article.created.value %}
      {% set created_date = created_timestamp|date('F j, Y') %}
      {% set image_url = file_url(field_article.field_image.entity.uri.value) %}
      {% set body = field_article.body.value %}
      {% set node_id = article['#row']._entity.id %}
      {% set node_url = path('entity.node.canonical', {'node': node_id}) %}

      {% set comment_count = article['#row'].comment_entity_statistics_comment_count %}

      {% set author_entity = article_entity.getOwner() %}
      {% set author_name = author_entity.name.value %}

      {% set category_entity = field_article.field_category.entity %}
      {% set category_name = category_entity.name.value %}

      {% include '@molecules/block-title-data-cc-img-cat/block-title-data-cc-img-cat.twig' with {
        block_title: title,
        block_image_src: image_url,
        block_data: created_date,
        block_article_url: node_url,
        block_author: author_name,
      } %}

    {% endfor %}
  {% endfor %}
</div>
