<div class="gadgets-articles-page">
  {% for row in rows %}
    {% for article in row['#rows'] %}
      {% set field_article = article['#row']._entity.fields %}
      {% set title = field_article.title.value %}
      {% set created_timestamp = field_article.created.value %}
      {% set created_date = created_timestamp|date('F j, Y') %}
      {% set image_uri = field_article.field_image.entity.uri.value %}
      {% set image_url = file_url(field_article.field_image.entity.uri.value) %}
      {% set body = field_article.body.value %}
      {% set node_id = article['#row']._entity.id %}
      {% set node_url = path('entity.node.canonical', {'node': node_id}) %}

      {% set comment_count = article['#row'].comment_entity_statistics_comment_count %}

      {% set author_entity = article_entity.getOwner() %}
      {% set author_name = author_entity.name.value %}

      {% set category_entity = field_article.field_category.entity %}
      {% set category_name = category_entity.name.value %}
      {% set cat = category_entity.field_tax_term_ident.value %}

      {% include '@molecules/block-full-article-info.twig' with {
        block_full_text_title: title,
        block_full_category: category_name,
        block_full_block_full_image_src: image_url,
        block_full_category_url: category_url_alias,
        block_full_text_data: created_date,
        block_full_body: body|striptags|slice(0, 140),
        block_article_url: node_url,
      } %}
    {% endfor %}
  {% endfor %}
</div>

{{ pager }}
