<div class="trending-now-block">
  <div class="trending-now-title">
    <span>Trending Now</span>
  </div>

  {# Output the view content #}
  <div class="view-content">
  </div>

  {# Output the pager #}
  <div class="view-pager">
    {{ pager }}
  </div>
</div>
