
.technology{
  @include layout-onecol-technology;
  @include sticky_sidebar;
}

.gadgets-articles-page{
  @include technology-page-articles;
}

.mobile-phones-articles-page{
  @include technology-page-articles;
}

.photography-articles-page{
  @include technology-page-articles;
}

.reviews-articles-page{
  @include technology-page-articles;
}

@media (max-width: 767px) {
  .technology{
    .technology-taxonomy{
      justify-content: center !important;
    }
    .layout--onecol{
      .layout__region--content{
        .block{
          text-align: center !important;
        }
      }
    }
    .block-full-article{
      display: block;
      width: 100%;
      .block-full-article__inner {
        .block-full-article__image {
          img {
            width: 100% !important;
            height: 100% !important;

          }
        }
      }
    }
  }
}

@media (max-width: 1018px) and (min-width: 768px) {
  .technology{
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    .block-full-article{
      .block-full-article__inner {
        .block-full-article__image {
          img {
            width: 100% !important;
            height: 100% !important;

          }
        }
      }
      .block-full-article__body{
        display: none;
      }
    }
  }
}
