.block-full-article{
  .block-full-article__column{
    .block-full-article__content{
      @include title;
    }
  }
  .block-full-article__author{
    @include author;
  }
  .block-full-article__data{
    @include data;
  }
  .block-full-article__body{
    @include body;
  }
}

.dont-miss{
  .block-full-article{
    position: relative;
    width: 372px;
    height: 392px;
    padding-left: 24px;
    padding-right: 24px;
    .block-full-article__count{
      @include count;
    }
    .block-full-article__category{
      @include category;
    }
    .block-full-article__image{
      position: relative;
      flex: 0 0 auto;
      width: 324px;
      height: 233px;
      img{
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
}

.perf-training-title{
  @include title_block;
  border-color: #0a0a0a;
  span{
    background-color: #0a0a0a;
  }
}

.perfomance-training {
  .block-full-article {
    display: flex;
    margin: 0 20px 20px 20px;

    .block-full-article__inner {
      display: flex;
      flex-direction: row-reverse;

      .block-full-article__image {
        display: block;
        order: 0;
        position: relative;
        width: 227px;
        height: 155px;
        margin-right: 15px;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }

    .block-full-article__content {
      .block-full-article__author-data {
        @include author-data;
      }
    }
  }
  .block-full-article:hover .block-full-article__content .block-full-article__column{
    a{
      color: $blue;
    }
  }
}



.lifestyle-news{
  display: flex;
  position: relative;
  .block-full-article{
    position: relative;
    width: 372px;
    padding-left: 24px;
    padding-right: 24px;
    .block-full-article__column{
      .block-full-article__content{
        @include title;
        a:hover{
          color: #0a7bc1;
        }
      }
    }
    .block-full-article__author-data {
      display: flex;
      align-items: baseline;
    }
    .block-full-article__count{
      @include count
    }
    .block-full-article__category{
      @include category;
      top: 211px;
      a{
        -webkit-transition: background-color 0.2s ease;
        padding: 3px 7px;
        background-color: rgba(0, 0, 0, 0.7);
        font-family: 'Roboto', sans-serif;
        line-height: 13px;
        font-weight: 500;
        text-transform: uppercase;
        pointer-events: auto;
        color: #ffffff;
      }
      a:hover {
        background-color: #0a7bc1;
      }
    }
    .block-full-article__image{
      position: relative;
      flex: 0 0 auto;
      width: 324px;
      height: 233px;
      img{
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }
}

.holiday-recipes{
  .block-full-article{
    .block-full-article__content {
      position: relative;
      .block-full-article__column{
        @include title;
        a:hover{
          color: $blue;
        }
      }
      .block-full-article__author-data {
        @include author-data;
        .block-full-article__data {
          font-size: 11px;
        }
      }

      .block-full-article__count {
        @include count
      }

      .block-full-article__category {
        @include category;
        top: -20px;
        left: 0;
        a{
          -webkit-transition: background-color 0.2s ease;
          padding: 3px 7px;
          font-family: 'Roboto', sans-serif;
          line-height: 13px;
          font-weight: 500;
          text-transform: uppercase;
          pointer-events: auto;
          color: $white;
        }
        a:hover {
          background-color: $blue;
        }
      }
    }
    .block-full-article__inner{
      .block-full-article__image{
        position: relative;
        flex: 0 0 auto;
        width: 324px;
        height: 233px;
        img{
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }
  }
  }
  .holiday-title{
    @include title_block;
    border-color: $purple;
    span{
      background-color: $light-purple
    }
  }
.views-exposed-form{
  display: flex;
  border-bottom: 2px solid var(--td_header_color,var(--td_black,#222222));
  .h2{
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #0a0a0a;
    padding: 7px 12px 4px;
    background-color: $yellow-dark;
  }
  form{
    .js-form-item{
      max-width: 100%;
    }
  }
}

#edit-field-category-target-id-1{
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      @include element_a;

      a:hover {
        color: $green-dark;
      }

      &:nth-child(n + 7) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

#edit-field-category-target-id--2{
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      @include element_a;

      a:hover {
        color: $yellow-dark;
      }

      &:nth-child(n + 7) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}


  .title-house-design{
    @include title_block;
    border-color: $dirty-blue;
    span{
      background-color: $dirty-blue;
    }
  }
.house-design{
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  position: relative;
  .block-full-article{
    margin: 0 20px 20px 20px;
    .block-full-article__column{
      .block-full-article__content{
        @include title;
        a:hover{
          color: $blue;
        }
      }
    }
    .block-full-article__category{
      @include category;
      top: 134px;
      a{
        -webkit-transition: background-color 0.2s ease;
        padding: 3px 7px;
        background-color: rgba(0,0,0,0.7);
        font-family: 'Roboto',sans-serif;
        line-height: 13px;
        font-weight: 500;
        text-transform: uppercase;
        pointer-events: auto;
        color: $white;
      }
      a:hover{
        background-color: $blue;
      }
    }
    .block-full-article__image{
      width: 218px;
      height: 153px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
