.block-full-article{
  .block-full-article__column{
    .block-full-article__content{
      @include title;
    }
  }
  .block-full-article__author{
    @include author;
  }
  .block-full-article__data{
    @include data;
  }
  .block-full-article__body{
    @include body;
  }
}

.dont-miss{
  .block-full-article{
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 24px;
    .block-full-article__count{
      @include count;
    }
    .block-full-article__category{
      bottom: 162px;
      background-color: $black;
      a{
        color: $white;
      }
      @include category;
    }
    .block-full-article__content{
      a:hover{
        color: $yellow-dark;
      }
    }
    .block-full-article__image{
      position: relative;
      flex: 0 0 auto;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .block-with-media__inner{
    .block-with-media__column{
      .block-with-media__content{
        a:hover{
          color: $yellow-dark;
        }
      }
    }
  }
}

.perf-training-title{
  @include title_block;
  border-color: $black;
  span{
    background-color: $black;
  }
}

.perfomance-training {
  .block-full-article {
    display: flex;
    padding-bottom: 18px;
    margin-bottom: 18px;

    .block-full-article__inner {
      display: flex;
      flex-direction: row-reverse;

      .block-full-article__image {
        display: block;
        order: 0;
        position: relative;
        width: 100%;
        height: 100%;
        margin-right: 26px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .block-full-article__content {
      .block-full-article__author-data {
        @include author-data;
      }
    }
  }
  .block-full-article:hover .block-full-article__content .block-full-article__column{
    a{
      color: $blue;
    }
  }
}



.lifestyle-news{
  margin: 20px 0 20px 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 24px) calc(50% - 24px);
  column-gap: 48px;
  .block-with-media__inner{
    padding-left: 0!important;
    .block-with-media__column{
      .block-with-media__content{
        a:hover{
          color: $green-dark;
        }
      }
    }
  }
  .block-full-article{
    position: relative;
    width: 100%;
    .block-full-article__column{
      .block-full-article__content{
        @include title;
        a:hover{
          color: $green-dark;
        }
      }
    }
    .block-full-article__author-data {
      display: flex;
      align-items: baseline;
    }
    .block-full-article__count{
      @include count
    }
    .block-full-article__image{
      position: relative;
      flex: 0 0 auto;
      width: 100%;
      height: 100%;
      .block-full-article__category{
        @include category;
        a{
          -webkit-transition: background-color 0.2s ease;
          padding: 3px 7px;
          background-color: rgba(0, 0, 0, 0.7);
          font-family: 'Roboto', sans-serif;
          line-height: 13px;
          font-weight: 500;
          text-transform: uppercase;
          pointer-events: auto;
          color: $white;
        }
        a:hover {
          background-color: $green-dark;
        }
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.holiday-recipes{
  .block-full-article{
    .block-full-article__content {
      position: relative;
      .block-full-article__column{
        @include title;
        a:hover{
          color:  $light-purple;
        }
      }
      .block-full-article__author-data {
        @include author-data;
        .block-full-article__data {
          font-size: 11px;
        }
      }

      .block-full-article__count {
        @include count
      }
    }
    .block-full-article__inner{
      .block-full-article__image{
        .block-full-article__category {
          @include category;
          bottom: 7px;
          left: 0;
          background-color: $black;
          a{
            -webkit-transition: background-color 0.2s ease;
            padding: 3px 7px;
            font-family: 'Roboto', sans-serif;
            line-height: 13px;
            font-weight: 500;
            text-transform: uppercase;
            pointer-events: auto;
            color: $white;
          }
          a:hover {
            background-color: $blue;
          }
        }
        position: relative;
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;}
      }
    }
  }
  }
  .holiday-title{
    @include title_block;
    border-color: $purple;
    span{
      background-color: $light-purple;
    }
  }
  .views-exposed-form[data-drupal-selector="views-exposed-form-don-t-miss-block-1"]  {
    @include expose_style;

    .h2 {
      background-color: $yellow-dark;
    }
  }

  .views-exposed-form[data-drupal-selector="views-exposed-form-lifestyle-news-block-1"]{
    @include expose_style;

    .h2 {
      background-color: $green-dark;
      color: $white;
    }
  }


#edit-field-category-target-id--4{

  ul {
    float: left;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      #edit-field-category-target-id-1--2{
        display: none;
      }
      ul{
        li:nth-child(5) {
          display: block;
          ul{
            li{
              display: inline-block !important;
            }
          }
        }

        li:not(:nth-child(5)) {
          display: none;
        }
      }
      @include element_a;

      a:hover {
        color: $green-dark;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

#edit-field-category-target-id--2{
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      @include element_a;

      a:hover {
        color: $yellow-dark;
      }

      &:nth-child(n + 7) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}


  .title-house-design{
    @include title_block;
    border-color: $dirty-blue;
    span{
      background-color: $dirty-blue;
    }
  }
.house-design{
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 16px));
  gap: 24px;
  position: relative;
  margin-bottom: 48px;
  .block-full-article{
    .block-full-article__column{
      .block-full-article__content{
        @include title;
        font-size: 15px !important;
        line-height: 1.3 !important;
        font-weight: 500 !important;
        a:hover{
          color: $blue;
        }
      }
    }
    .block-full-article__image{
      width: 100%;
      height: 100%;
      position: relative;
      .block-full-article__category{
        @include category;
        a{
          -webkit-transition: background-color 0.2s ease;
          padding: 3px 7px;
          background-color: rgba(0,0,0,0.7);
          font-family: 'Roboto',sans-serif;
          line-height: 13px;
          font-weight: 500;
          text-transform: uppercase;
          pointer-events: auto;
          color: $white;
        }
        a:hover{
          background-color: $blue;
        }
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
