.fashion{
  @include fashion-page-tax;
  .layout--onecol{
    .layout__region--content:before{
      background: url("/themes/custom/my_awesome_theme/assets/images/38.jpg");
    }
  }
}
.new_look{
  @include fashion-page-tax;
  .layout--onecol{
    .layout__region--content:before{
      background: url("/themes/custom/my_awesome_theme/assets/images/6.jpg");
    }
  }
}
.street_fashion{
  @include fashion-page-tax;
  .layout--onecol{
    .layout__region--content:before{
      background: url("/themes/custom/my_awesome_theme/assets/images/21.jpg");
    }
  }
}
.style_hunter{
  @include fashion-page-tax;
  .layout--onecol{
    .layout__region--content:before{
      background: url("/themes/custom/my_awesome_theme/assets/images/8.jpg");
    }
  }
}
.vogue{
  @include fashion-page-tax;
  .layout--onecol{
    .layout__region--content:before{
      background: url("/themes/custom/my_awesome_theme/assets/images/12.jpg");
    }
  }
}
