/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin body-copy {
  font-size: 1rem;
  line-height: 1.6;
}

@mixin element_a{
  transition: opacity 0.2s ease 0s;
  opacity: 1;
  display: inline-block;
  line-height: 1;
  margin-left: 20px;
  text-align: right;

  a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: $grey;
    line-height: 1;
    text-decoration: none;
  }
}

@mixin category{
  position: absolute;
  z-index: 2;
  font-family: 'Open Sans', 'Open Sans Regular', sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  background-color: $black;
  color: $white;
  margin-right: 5px;
  padding: 3px 6px 4px;
  display: block;
  vertical-align: top;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

@mixin title_block{
  text-align: left;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 26px;
  border-bottom: 2px solid $black;
  span{
    color: $white;
    padding: 7px 12px 4px;
  }
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin count{
  position: relative;
  float: right;
  font-family: 'Open Sans','Open Sans Regular',sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  color: $white;
  background-color: $black;
  display: inline-block;
  min-width: 17px;
  padding: 3px 4px 4px 5px;
  position: relative;
}

@mixin data{
    color: $grey;
    display: inline-block;
    position: relative;
    font-size: 11px;
}

@mixin author{
  color: $black;
  text-decoration: none;
  font-family: 'Open Sans','Open Sans Regular',sans-serif;
  font-size: 11px;
  line-height: 1;
  margin-right: 5px;
}

@mixin author-data{
  display: flex;
  align-items: baseline;
}

@mixin body{
  overflow-wrap: anywhere;
  font-size: 13px;
  color: $grey;
  font-family: 'Open Sans', 'Open Sans Regular', sans-serif;
  line-height: 21px;
  display: block;
  margin: 14px 0 0;
}

@mixin title{
  font-size: 22px !important;
  line-height: 1.3 !important;
  margin: 0 0 6px 0;
  color: $black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: block;
  margin-left: auto;
  a{
    color: $black;
    text-decoration: none;
  }
}

@mixin lifestyle-page-articles{
  .block-title-data-cc-img-cat{
    position: relative;
    margin-right: 40px;
    margin-bottom: 40px;
    display: flex;
    .image{
      img{
        width: 244px;
        height: 158px;
        margin-right: 20px;
      }
    }
    .inner{
      .category{
        a{
          left: 0;
          bottom: 6px;
          @include category;
        }
      }
      .column{
        .content{
          @include title;
        }
      }
      .media{
        @include data;
      }
      .author{
        @include author;
      }
      .count{
        max-height: 18px;
        @include count;
      }
    }
  }
}

@mixin technology-page-articles{
  .block-full-article{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20px 20px 0;
    .block-full-article__inner{
      .block-full-article__image{
        a{
          display: block;
          position: relative;
          img{
            height: 250px;
            width: 417px;
          }
        }
      }
    }
    .block-full-article__content{
      .block-full-article__category{
        .category{
          color: $blue;
          text-decoration: none;
          font-family: 'Open Sans','Open Sans Regular',sans-serif;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
      .block-full-article__column{
        a:hover{
          color: $blue;
        }
      }
    }
  }
}

@mixin layout-onecol-technology{
  .layout--onecol{
    .block{
      text-align: left;
      margin: 48px 0 10px 0;
      span{
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        text-transform: none;
        display: inline-block;
        position: relative;
        margin: 0;
        word-wrap: break-word;
        font-family: 'Roboto',sans-serif;
        color: $black;
      }
    }
    .technology-taxonomy{
      display: flex;
      .views-row{
        .views-field-name{
          .field-content{
            transition: opacity 0.2s ease 0s;
            opacity: 1;
            margin: 0 6px 0 0;
            display: inline-block;
            line-height: 1;
            list-style: none;
            font-size: 10px;
            a{
              font-family: 'Open Sans','Open Sans Regular',sans-serif;
              color: $blue;
              padding: 0;
              line-height: 1;
              text-transform: uppercase;
              position: relative;
              font-size: 11px;
              margin: 0 5px 0 0;
              background-color: transparent;
              pointer-events: auto;
              white-space: nowrap;
              display: inline-block;
              text-decoration: none;
            }
            a:hover{
              color: $black;
            }
          }
        }
      }
    }
  }
}

@mixin layout-onecol-lifestyle{
    .layout--onecol{
      header{
        h1{
          text-transform: uppercase;
          display: inline-block;
          position: relative;
          margin: 0;
          word-wrap: break-word;
          font-size: 30px;
          line-height: 38px;
          font-weight: 700;
          font-family: 'Roboto',sans-serif;
          color: $black;
          text-align: left;
        }
      }
      footer{
        margin: 26px 0 0 !important;
        @include body;
      }
      .lifestyle-taxonomy{
        .views-row{
          float: left;
          .views-field-name{
            .field-content{
              transition: opacity 0.2s ease 0s;
              opacity: 1;
              display: inline-block;
              line-height: 1;
              list-style: none;
              font-size: 10px;
              text-align: left;
              border-width: 1px;
              background-color: $white;
              border-color: $black;
              border-style: solid;
              margin: 0 5px 0 0;
              a{
                position: relative;
                font-size: 10px;
                padding: 4px 8px 5px 8px;
                background-color: transparent;
                pointer-events: auto;
                color: $black;
                white-space: nowrap;
                text-decoration: none;
                font-family: 'Open Sans','Open Sans Regular',sans-serif;
              }
              a:hover{
                color: $white;
              }
            }
            .field-content:hover{
              background-color: $black;
            }
          }
        }
      }
    }
  }

@mixin overview-a{
  padding: 3px 7px;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  pointer-events: auto;
  color: $white;
  text-decoration: none;
}



$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($container-max-width) {
    padding-left: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
    padding-right: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
  }
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
