.top-header__top-header{
  background-color: #111111;
  width:1068px;
  height: 28px;
  display: block;
  .top-header__weather-data, .top-header__header_top__buttons{
    float: left;
  }
  .top-header__header_top__social_network{
    float: right;
  }
}
