.top-header{
  background-color: #111111;
  height: 28px;
  .top-header__wrapper{
    height: 100%;
    width:1068px;
    display: block;
    margin: auto;
    .weather_block{
      float: left;
      height: 100%;
      display: flex;
      .item-weather{
        a{
          color: $white;
          padding: 0;
          font-size: 11px !important;
          font-weight: 400 !important;
          line-height: 28px !important;
          margin-right: 7px;
        }
      }
      .type-weather{
        img{
          margin-right: 32px !important;
          width: 28px;
          height: 28px;
          filter: brightness(0) invert(1);
        }
      }
    }
    #block-my-awesome-theme-weatherdata, .top_header_buttons{
      float: left;
    }
    #block-my-awesome-theme-socialnetwork{
      float: right;
    }
  }
}

@media (min-width: 768px) and (max-width: 1018px){
  .top-header__wrapper{
    width: 740px;
  }
}
