.top-header{
  background-color: #111111;
  height: 28px;
  .top-header__wrapper{
    width:1068px;
    display: block;
    margin: auto;
    #block-my-awesome-theme-weatherdata, .top_header_buttons{
      float: left;
    }
    #block-my-awesome-theme-socialnetwork{
      float: right;
    }
  }
}
