.layout__region--second{
  padding-left: 48px;
}

.recent-comments{
  @include title_block;
  span{
    background-color: $black;
  }
}

.trending-now-block{
  display: flex;
  align-items: center;
  position: relative;
  transform: translate3d(0px,0px,0px);
  overflow: hidden;
  margin: 10px auto;
  .trending-now-title{
    line-height: 21px;
  }

  .view-content {
    @include title;
    padding: 0 0 0 15px;
    margin: 0;
  }
  .view-content:hover a{
    color: $blue;
  }

  .view-pager {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    align-items: center;
    ul{
      list-style: none;
      display: flex;
      li{
        margin: 10px;
      }
      li:hover{
        background-color: $blue;
      }
      li:nth-child(2){
        display: none;
      }
      li:first-child{
        display: inline-block;
        margin-right: 7px;
        width: 25px;
        height: 25px;
        border: 1px solid $grey;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        font-size: 7px;
        color: $white;
      }
      li:last-child{
        display: inline-block;
        margin-right: 7px;
        width: 25px;
        height: 25px;
        border: 1px solid $grey;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        font-size: 7px;
        color: $white;
      }
    }
  }
  .item-list{
    ul{
      list-style: none;
      li{
        .views-field-title{
          .field-content{
            a{
              text-decoration: none !important;
              outline: 0;
              color: $black;
              font-size: 15px;
              line-height: 25px;
              font-weight: 400;
              font-family: 'Roboto',sans-serif;
            }
            a:hover{
              color: $blue;
            }
          }
        }
      }
    }
  }
  .trending-now-title{
    @include title_block;
    border: none !important;
    margin: 0 10px !important;
    display: inline-block;
    span{
      background-color: $black;
      top: 4px;
      position: relative;
    }
    span:hover{
      background-color: $blue;
    }
  }
}

.recent-comments-body{
  display: flex;
  a{
    line-height: 21px;
    font-family: 'Open Sans','Open Sans Regular',sans-serif;
    font-size: 12px;
    color: $gray;
    text-align: left;
    display: inline-block;
    margin-right: 5px;
  }
}

.comments-front-page{
  .item-list{
    ul{
      li{
        margin-top: 0 !important;
        padding: 0 0 15px !important;
        border-bottom-color: $white;
        display: block;
        line-height: 21px;
        .views-field-name{
          text-align: left;
          a{
            line-height: 21px;
            font-family: 'Open Sans','Open Sans Regular',sans-serif;
            font-size: 12px;
            color: $grey;
          }
        }
        .views-field-subject{
          display: inline !important;
          padding: 0 !important;
          margin: 0 !important;
          a{
            font-style: italic;
            font-size: 13px;
            font-weight: 600;
            color: $black;
            text-decoration: none;
          }
          a:hover{
            color: $blue;
          }
        }
      }
    }
  }
}

.title-make-it-modern{
  @include title_block;
  span{
    background-color: $black;
  }
}

.layout__region--second{
  .most-popular-block{
    .most-popular{

    }
  }
}

.sticky{
  margin-bottom: 48px !important;
}

.make-it-modern{
  top: 0;
  z-index: 1000;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-gap: 20px;
  .block-full-article{
    position: relative;
    .block-full-article__inner{
      .block-full-article__image{
        position: relative;
        .block-full-article__category{
          @include category;
          bottom: 7px;
          left: 0;
          a{
            color: $white;
          }
          a:hover{
            color: $blue;
          }
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .block-full-article__content{

    }
    .block-full-article__column{
      .block-full-article__content{
        @include title;
        font-size: 13px !important;
        line-height: 1.3 !important;
        font-weight: 500 !important;
        a:hover{
          color: $blue;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1018px){

  .layout--onecol{
    .trending-now-block{
      width: 740px !important;
      .trending-now-title{
        margin: 0 !important;
      }
    }
    .overview-grid{
      width: 740px !important;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: repeat(2, 50%);
      margin-right: auto;
      margin-left: auto;
    }
  }
  .layout--twocol-section--75-25{
    width: 740px;
    margin-right: auto;
    margin-left: auto;
    .layout__region--first{
      width: 494px !important;
      margin-right: 10px;
      #views-exposed-form-lifestyle-news-block-1{
        display: block ruby;
      }
      .views-exposed-form{
        height: 34px;
      }
      #edit-field-category-target-id--2 {
        li{
          &:nth-child(n + 5) {
            display: none;
          }
        }
      }
    }
    .layout__region--second{
      width: 246px !important;

    }

      .pager{
        width: 100%;
      }
      .house-design{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 33%);
        gap: 20px;
        .block-full-article{
          .block-full-article__image{
            position: relative;
            width: 100%;
            height: 100%;
          }
          .block-full-article__category{
            bottom: 0;
          }
        }
      }
      .holiday-recipes{
        .block-full-article{
          .block-full-article__inner{
            .block-full-article__image{
              width: 100%;
              height: 100%;
              img{
                position: relative;
              }
            }
          }
          .block-full-article__content{
            .block-full-article__category{
              top: -27px;
            }
          }
        }
      }
      .most-popular-block{
        div{
          .block-with-media__inner{
            width: 100%;
            height: 100%;
            .block-with-media__image{
              img{
                position: relative;
              }
            }
          }
        }
      }
      .perfomance-training{
        width: 100%;
        .block-full-article__inner{
          width: 33%;
        }
      }
      .perf-training-title{
        width: 100%;
      }
      .latest-articles{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        gap: 20px;
        .block-title-data-cc-img-cat{
          width: 100%;
          height: 100%;
          position: relative;
          .image{
            img{
              width: 100%;
            }
          }
          .inner{
            width: 100%;
          }
        }
      }
      .make-it-modern{
        .block-full-article{
          .block-full-article__content{
            .block-full-article__category{
              top: -26px;
            }
          }
        }
      }

    .lifestyle-news{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px;
      div{
        .block-with-media__inner{
          width: 100%;
          .block-with-media__image{
            img{
              position: relative;
            }
          }
        }
      }
      .block-full-article{
        position: relative;
        padding: 0;
        width: 100%;
        height: auto;
        .block-full-article__inner{
          width: 100%;
          height: auto;
          .block-full-article__image{
            width: 100%;
            height: auto;
            img{
              width: 100%;
              height: 135px;
              background-size: cover;
              position: relative;
            }
          }
        }
        .block-full-article__content{
          .block-full-article__category{
            top: 115px;
          }
        }
      }
    }
      .dont-miss{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        div{
          .block-with-media__inner{
            width: 100%;
            .block-with-media__image{
              img{
                position: relative;
              }
            }
          }
        }
        .block-full-article{
          position: relative;
          padding: 0;
          width: 100%;
          height: auto;
          .block-full-article__inner{
            width: 100%;
            height: auto;
            .block-full-article__image{
              width: 100%;
              height: auto;
              img{
                width: 100%;
                height: 100%;
                background-size: cover;
                position: relative;
              }
            }
          }
          .block-full-article__content{
            .block-full-article__category{
              bottom: 320px;
            }
          }
        }
        }
        .pager{
          width: 100%;
        }
      }
    }

@media (max-width: 767px) {

  .most-popular-block{
    height: 100% !important;
    .most-popular{
      position: relative !important;
    }
  }
  .trending-now-block{
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    transform: translate3d(0px,0px,0px);
    overflow: hidden;
    .view-pager{
      display: none;
    }
    .trending-now-title{
      padding: 2px 10px 1px;
      line-height: 21px;
      font-family: 'Roboto',sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      display: inline-block;
      transition: background-color 0.3s;
      cursor: default;
      user-select: none;
    }
    .view-content{
      width: 100%;
      padding: 0;
      display: block;
      height: 26px;
      position: relative;
      top: 10px;
      a{
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .overview-grid{
    width: 100%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, 193px);
    grid-gap: 5px;
    .block-category-media-title{

    }
    .block-category-media-title:first-child {
      grid-column: span 4;
      grid-row: span 1;
    }
  }
  .layout__region--second, .layout__region--first{
    flex: none;
  }

  .layout--twocol-section--75-25{
    flex-wrap: wrap !important;
    width: 100%;
    display: block !important;
    .lifestyle-news{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px;
      div{
        .block-with-media__inner{
          width: 100%;
          height: auto;
          .block-with-media__image{
            img{
              position: relative;
            }
          }
        }
      }
      .block-full-article{
        padding: 0;
        width: 100%;
        height: 100%;
        .block-full-article__inner{
          width: 100%;
          height: 100%;
          .block-full-article__image{
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
              background-size: cover;
              position: relative;
            }
          }
        }
      }
    }
    .pager{
      width: 100%;
    }
    .house-design{
      display: block;
      width: 100%;
    }
    .holiday-recipes{
      .block-full-article{
        .block-full-article__inner{
          .block-full-article__image{
            width: 100%;
            height: 100%;
            img{
              position: relative;
            }
          }
        }
        .block-full-article__content{
          .block-full-article__category{
            top: -28px;
          }
        }
      }
    }
    .most-popular-block{
      div{
        .block-with-media__inner{
          width: 100%;
          height: 100%;
          .block-with-media__image{
            img{
              position: relative;
            }
          }
        }
      }
    }
    .perfomance-training{
      width: 100%;
    }
    .perf-training-title{
      width: 100%;
    }
    .latest-articles{
      display: block;
      width: 100%;
      .block-title-data-cc-img-cat{
        width: 100%;
        height: 100%;
        position: relative;
        .image{
          img{
            width: 100%;
            height: 100%;
          }
        }
        .inner{
          width: 100%;
          height: 100%;
          .category{
            top: 218px;
          }
        }
      }
    }
    .make-it-modern{
      .block-full-article{
        .block-full-article__content{
          .block-full-article__category{
          }
        }
      }
    }
    .lifestyle-news{
        width: 100%;
        height: 100%;
        display: block;
        div{
          .block-with-media__inner{
            width: 100%;
            height: 100%;
            .block-with-media__image{
              img{
                position: relative;
              }
            }
          }
        }
        .block-full-article{
          padding: 0;
          width: 100%;
          height: 100%;
          .block-full-article__inner{
            width: 100%;
            height: 100%;
            .block-full-article__image{
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
                background-size: cover;
                position: relative;
              }
            }
          }
          .block-full-article__content{
            .block-full-article__category{
              top: 381px;
            }
          }
        }
        .pager{
          width: 100%;
        }
    }
    .dont-miss{
      width: 100%;
      height: 100%;
      display: block;
      div{
        .block-with-media__inner{
          width: 100%;
          height: 100%;
          .block-with-media__image{
            img{
              position: relative;
            }
          }
        }
      }
      .block-full-article{
        padding: 0;
        width: 100%;
        height: 100%;
        .block-full-article__inner{
          width: 100%;
          height: 100%;
          .block-full-article__image{
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
              background-size: cover;
              position: relative;
            }
          }
        }
        .block-full-article__content{
          .block-full-article__category{
            bottom: 124px;
          }
        }
      }
      .pager{
        width: 100%;
      }
    }
  }
}

