.recent-comments{
  @include title_block;
  span{
    background-color: $black;
  }
}

.trending-now-block{
  display: flex;
  align-items: center;
  position: relative;
  transform: translate3d(0px,0px,0px);
  overflow: hidden;
  margin: 10px auto;
  .trending-now-title{
    line-height: 21px;
  }

  .view-content {
    @include title;
    padding: 0 0 0 15px;
    margin: 0;
  }
  .view-content:hover a{
    color: $blue;
  }

  .view-pager {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    align-items: center;
    ul{
      list-style: none;
      display: flex;
      li{
        margin: 10px;
      }
      li:hover{
        background-color: $blue;
      }
      li:nth-child(2){
        display: none;
      }
      li:first-child{
        display: inline-block;
        margin-right: 7px;
        width: 25px;
        height: 25px;
        border: 1px solid $grey;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        font-size: 7px;
        color: $white;
      }
      li:last-child{
        display: inline-block;
        margin-right: 7px;
        width: 25px;
        height: 25px;
        border: 1px solid $grey;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        font-size: 7px;
        color: $white;
      }
    }
  }
  .item-list{
    ul{
      list-style: none;
      li{
        .views-field-title{
          .field-content{
            a{
              text-decoration: none !important;
              outline: 0;
              color: $black;
              font-size: 15px;
              line-height: 25px;
              font-weight: 400;
              font-family: 'Roboto',sans-serif;
            }
            a:hover{
              color: $blue;
            }
          }
        }
      }
    }
  }
  .trending-now-title{
    @include title_block;
    border: none !important;
    margin: 0 10px !important;
    display: inline-block;
    span{
      background-color: $black;
      top: 4px;
      position: relative;
    }
    span:hover{
      background-color: $blue;
    }
  }
}

.comments-front-page{
  .item-list{
    ul{
      li{
        margin-top: 0 !important;
        padding: 0 0 15px !important;
        border-bottom-color: $white;
        display: block;
        line-height: 21px;
        .views-field-name{
          text-align: left;
          a{
            line-height: 21px;
            font-family: 'Open Sans','Open Sans Regular',sans-serif;
            font-size: 12px;
            color: $grey;
          }
        }
        .views-field-subject{
          display: inline !important;
          padding: 0 !important;
          margin: 0 !important;
          a{
            font-style: italic;
            font-size: 13px;
            font-weight: 600;
            color: $black;
            text-decoration: none;
          }
          a:hover{
            color: $blue;
          }
        }
      }
    }
  }
}
