.footer {
  position: relative;
  background-color: $black;
  left: 50% !important;
  transform: translateX(-50%) !important;
  &__inner {
    @include wrapper;
    width: 1068px;
    margin-right: auto;
    margin-left: auto;
    .footer__wrapper {
      padding-top: 54px !important;
      padding-bottom: 20px !important;
      position: relative;
    }
  }
}

.footer:before {
  background-image: url('/themes/custom/my_awesome_theme/assets/images/footer-bg1.jpg');
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
  opacity: 0.1;
  background-size: cover;
  background-position: center top;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 10px));
  row-gap: 48px;
  column-gap: 48px;
  #block-my-awesome-theme-sitebranding{
    img{
      width: 100%;
    }
  }
  nav{
    .social_list {
      margin-bottom: 0;
      display: flex;
      clear: none;
      float: none;

      .item {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        text-align: center;
        transform: translateZ(0);
        width: 39.2px;
        height: 39.2px;
        margin: 5px 10px 5px 0;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.03);
        img {
          width: 22.8px;
          height: 22.8px;
          transition: background-color .3s ease;
          display: block;
          margin-top: 8.2px;
          margin-left: auto;
          margin-right: auto;
        }

        &:hover img {
          background-color: blue;
        }
      }
    }
  }
  div, nav{
    h2{
      color: $white;
      font-style: normal;
      width: auto;
      font-size: 18px !important;
      display: inline-block;
      font-weight: 500;
      line-height: 31px;
      text-align: left;
      font-family: 'Roboto',sans-serif;
      margin-top: 10px;
      margin-bottom: 26px;
    }
    .layout--onecol{
      .layout__region--content{
        .block{
          .text-long{
            p{
              color: $light-grey;
              font-size: 14px !important;
              line-height: 1.6 !important;
              font-family: 'Open Sans','Open Sans Regular',sans-serif;
              a{
                color: #1aa4ce;
              }
            }
          }
        }
      }
    }
  }
  .block-with-media__inner{
    margin-bottom: 10px;
    .block-with-media__image{
      margin-right: 10px;
    }
    .block-with-media__content{
      color: $white;
    }
  }
  .views-element-container {
    div {
      h2{
        color: $white;

      }
      div {
        .views-row:hover{
          div {
            color: $blue;
            flex: 1;
            margin: 0 5px;

            a {
              text-decoration: none;
              color: $blue;
            }
          }
        }
        .views-row {
          display: flex;
          flex-direction: row;
          div {
            color: $white;
            flex: 1;
            margin: 0 5px;
            .field-content{
              text-align: right;
            }
            a{
              text-decoration: none;
              color: $white;
              font-size: 14px;
              font-family: 'Open Sans','Open Sans Regular',sans-serif;
              line-height: 30px;
              list-style: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer__inner{
    width: 100% !important;
    .footer__menu {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 768px) and (max-width: 1018px){
  .footer__inner{
    width: 740px;
    .footer__wrapper{
      width: 768px;
    }
  }
}

