.footer {
  position: relative;
  background-color: $black;
  left: 50% !important;
  transform: translateX(-50%) !important;
  &__inner {
    @include wrapper;
    width: 1068px;
    margin-right: auto;
    margin-left: auto;
    .footer__wrapper {
      padding-top: 54px !important;
      padding-bottom: 20px !important;
      position: relative;
    }
  }
}

.footer:before {
  background-image: url('/themes/custom/my_awesome_theme/assets/images/footer-bg1.jpg');
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
  opacity: 0.1;
  background-size: cover;
  background-position: center top;
}

.footer__menu {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  nav{
    .social-list{
      ul{
        .item{
          border: 1px solid rgba(255, 255, 255, 0.03);
          width: 39.2px;
          height: 39.2px;
          margin: 5px 10px 5px 0;
          background: rgba(255, 255, 255, 0.03);
        }
      }
    }
  }
  div{
    h2{
      color: $white;
      font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.8rem;
      line-height: 1.4;
      margin: 0 0 0.5em;
      width: auto;
    }
    .layout--onecol{
      .layout__region--content{
        .block{
          .text-long{
            p{
              color: $white;
            }
          }
        }
      }
    }
  }
  .block-with-media__inner{
    margin-bottom: 10px;
    .block-with-media__image{
      margin-right: 10px;
    }
    .block-with-media__content{
      color: $white;
    }
  }
  .views-element-container {
    div {
      h2{
        color: $white;
      }
      div {
        .views-row:hover{
          div {
            color: $blue;
            flex: 1;
            margin: 0 5px;

            a {
              text-decoration: none;
              color: $blue;
            }
          }
        }
        .views-row {
          display: flex;
          flex-direction: row;
          div {
            color: $white;
            flex: 1;
            margin: 0 5px;
            a{
              text-decoration: none;
              color: $white;
            }
          }
        }
      }
    }
  }
  nav {
    flex: 1 1 33.33%;
    max-width: 362px;
  }
  div {
    flex: 1 1 33.33%;
    max-width: 362px;
  }
  .logo {
    .logo__image {
      max-width: 231px;
      max-height: 76.5px;
    }
  }
}

.footer__branding {
  max-width: 10rem;
}

@media (max-width: 767px) {
  .footer__menu {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1018px){
  .footer__inner{
    width: 740px;
    .footer__wrapper{
      width: 768px;
    }
  }
}

