.pager {
  margin: 2em 0;
}

.pager__items {
  @include list-reset;
}

.pager__item {
  display: inline-block;
  margin: 0 0.2em;

  @include large {
    margin: 0 0.5em;
  }
}

.pager__link {
  padding: 5px 11px;
  border: 1px solid #e3e3e3;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 8px;
  min-width: 33px;
  text-align: center;
  color: #666;
  line-height: 21px;
  float: left;
  font-family: 'Open Sans','Open Sans Regular',sans-serif;
  font-size: 12px;

  &.is-active,
  &:hover,
  &:focus {
    background-color: $blue;
    color: clr(text-inverse);
  }

  &.is-active:hover,
  &.is-active:focus {
    background-color: clr(accent);
  }
}

.pager__link--next,
.pager__link--prev,
.pager__link--first,
.pager__link--last {
  padding: 5px 11px;
  border: 1px solid #e3e3e3;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 8px;
  min-width: 33px;
  text-align: center;
  color: #666;
  line-height: 21px;
  float: left;
  font-family: 'Open Sans','Open Sans Regular',sans-serif;
  background-color: transparent;
  font-size: 12px;

  &:hover,
  &:focus {
    color: clr(accent);
    background-color: $blue;
  }
}

.pager{
  .pager__item--last, .pager__item--ellipsis, .pager__item--first{
    display: none;
  }
}
