{% set social_list = [] %}
{% set count = 0 %}
{% for key, item in items %}
  {% if count < 3 %}
    {% set image_url = item.entity.field_social_network_images.entity.field_media_image.entity.fileuri %}
    {% set image_uri = file_url(image_url) %}
    {% set social_image = { 'image': image_uri, 'url': item.url } %}
    {% set social_list = social_list|merge([social_image]) %}
    {% set count = count + 1 %}
  {% endif %}
{% endfor %}

{% set social_label = config_pages_field('global_configurations', 'field_social_label', 'full') %}
{% if (social_label) %}
  <h2 id="block-my-awesome-theme-socialnetwork-2-menu">
    {{ social_label }}
  </h2>
{% endif %}
{% include '@atoms/social_list/social_list.twig' with {
  social_item: social_list
} %}
