.top-header {
  .top-header__wrapper {
    .weather_block {
      float: left;
      height: 100%;
      display: flex;
      .item-weather {
        a {
          color: #fff;
          padding: 0;
          font-size: 11px !important;
          font-weight: 400 !important;
          line-height: 28px !important;
          margin-right: 32px;
        }
      }
      .type-weather {
        img {
          margin-right: 7px;
          width: 28px;
          height: 28px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
