/* A */
.main-menu__link {
  display: block;
  padding: $space $space-triple $space $space-double;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0; /* начинаем с нулевой ширины */
    height: 3px;
    background-color: #0a7bc1;
    transition: width 0.5s ease;
  }
  &:hover::after{
    width: 200%;
  }
  &:active::after{
    width: 200%;
  }

  &--with-sub {
    width: 80%;
  }

  &:focus,
  &:hover {
    color: clr(text);

    @include medium {
      background-color: #ffffff;
      color: black;
    }
  }

  @include medium {
    position: relative;
    display: inline-block;
    padding: $space;
    width: auto;
    border-bottom: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $black;
    font-family: 'Open Sans','Open Sans Regular',sans-serif;
    text-transform: uppercase;

    &::after {
      display: inline-block;
      margin-left: 0.5rem;
    }

    &--sub::after {
      display: none;
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  padding-left: $space-triple;
  display: block;
  font-size: 13px;
  color: #333;
  position: relative;
  vertical-align: middle;
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;
  z-index: 99;
  font-weight: normal;

  @include medium {
    display: block;
    padding: $space-one-third $space;
    color: #333;
  }
}

.main-menu--sub-2 {
  background-color: #ffffff;
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
