.social_list {
  margin-bottom: 0;
  display: flex;
  float: right;
  clear: none;

  .item {
    display: inline-block;
  }

  img {
    width: 18.8px;
    height: 18.8px;
    margin: 2.5px 5px 2.5px 0;
    transition: filter 0.3s ease;
    filter: brightness(0) invert(1);
  }

  img:hover {
    filter: brightness(0) invert(1) sepia(1) hue-rotate(180deg);
  }
}
